@import '../../main.modules.scss';

.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: $dark-grey;
  z-index: 100;

  .list {
    text-decoration: none;
    width: 300px;
    display: flex;
    justify-content: space-around;

    li {
      display: block;
      padding-right: 15px;

      .navLink {
        color: $purple;
        text-decoration: none;
      }

      .selected {
        color: $pink;
      }
    }

    li:hover {
      animation: 0.8s shake infinite alternate;
      cursor: pointer;

      @keyframes shake {
        0% { transform: skewX(-30deg); }
        5% { transform: skewX(30deg); }
        10% { transform: skewX(-30deg); }
        15% { transform: skewX(30deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }
      }
    }
  }
}

//End of Nav
