$dark-grey: #333;
$purple: rgb(168, 30, 189);
$dark-purple: rgb(61, 0, 99);
$pink: hotpink;
$glitch-height: 100vh;
$glitch-width: 100vw;
$hoz-shift: 20px;
$vert-shift: 10px;
$time-anim: 4s;
$delay-anim: 1.5s;
$blend-mode-1: none;
$blend-mode-2: overlay;
$blend-mode-3: overlay;
$blend-color-1: transparent;
$blend-color-2: rgba(255, 105, 180, 0.5);
$blend-color-3: rgba(255, 105, 180, 0.2);
