@import '../../main.modules.scss';

.learningDividerTop,
.learningDividerMid,
.learningDividerBottom {
  width: 100%;
  position: relative;
  top: 60px;
}

.learningDividerTop {
  border-bottom: 1px solid $pink;
  margin-top: 100px;
}

.learningDividerMid {
  border-bottom: 1px solid $purple;
  margin-top: 3px;
}

.learningDividerBottom {
  border-bottom: 1px solid $dark-purple;
  margin-top: 3px;
}

.currentActivity {
  margin: 0 auto;
  text-align: center;
  padding-top: 75px;
  width: 90%;
  min-height: 95vh;
}
