@import '../../../main.modules.scss';

.ghContentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: $pink;
  }
}

.additionalInfo {
  width: 300px;
}

.deltaDays,
.language {
  text-decoration: underline;
  text-decoration-style: double;
}

.blurbHeader {
  margin-bottom: 5px;
}

.commitMessage {
  margin-top: 5px;
}

.language {
  margin: 5px;
}

.repoLink {
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
}

.readmeOuterContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.additionalInfo,
.readmeHeader,
.readmeContentContainer {
  border: 1px solid white;
}

.readmeHeader {
  border-bottom: 1px dashed white;
}

.readmeContentContainer {
  border-top: none;
  height: 300px;
  overflow: scroll;
}
