@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import '../main.modules.scss';

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  background-color: $dark-grey;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

//Start of Skills

.skills-content-outer {
  margin: 0 auto;
  margin-top: 75px;
  width: 90%;
  max-width: 900px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-content-border {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 30px;
}

@mixin svgGlitch($name, $intensity, $fillColor, $background,
$fillHighlight1, $fillHighlight2, $width, $height, $top, $left,
$offsetLeft) {

  $steps: $intensity;

  @at-root {
    @for $i from 1 through 2 {
      @keyframes #{$name}-anim-#{$i} {
        @for $i from 0 through $steps {
          $top: random(100);
          $bottom: random(101 - $top);
          #{percentage($i*(1/$steps))} {
            clip-path: inset(#{$top}% 0 #{$bottom}% 0);
          }
        }
      }
    }
  }

  svg {
    position: absolute;
    top: $top+px;
    left: $left+px;
    fill: $fillColor;
    background: $background;
    width: $width+px;
    height: $height+px;
  }

  svg:nth-child(2) {
    fill: $fillHighlight1;
    left: ($left - $offsetLeft) + px;
    animation: #{$name}-anim-1 0.75s linear alternate-reverse;
    padding-left: 10px;
  }

  svg:nth-child(3) {
    fill: $fillHighlight2;
    left: ($left + $offsetLeft) + px;
    animation: #{$name}-anim-2 0.8s linear alternate-reverse;
    padding-left: 10px;
  }
}

.icon-glitch {
  @include svgGlitch("svgGlitchOne", 100, $pink, $dark-grey, #888, $purple, 100, 100, 0, 0, 3);

  svg {
    top: 0;
  }
}

//End of Skills

// FadeIn
.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition:
    opacity 1200ms ease-out,
    transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
