@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$dark-grey: #333;
$purple: rgb(168, 30, 189);
$dark-purple: rgb(61, 0, 99);
$pink: hotpink;
$glitch-height: 100vh;
$glitch-width: 100vw;
$hoz-shift: 20px;
$vert-shift: 10px;
$time-anim: 4s;
$delay-anim: 1.5s;
$blend-mode-1: none;
$blend-mode-2: overlay;
$blend-mode-3: overlay;
$blend-color-1: transparent;
$blend-color-2: rgba(255, 105, 180, 0.5);
$blend-color-3: rgba(255, 105, 180, 0.2);

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  background-color: $dark-grey;
}

// Start of Nav

nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: $dark-grey;
  z-index: 100;

  ul {
    text-decoration: none;
    width: 300px;
    display: flex;
    justify-content: space-around;

    li {
      display: block;
      padding-right: 15px;

      .nav-link {
        color: $purple;
        text-decoration: none;
      }

      .selected {
        color: $pink;
      }
    }

    li:hover {
      animation: 0.8s shake infinite alternate;

      @keyframes shake {
        0% { transform: skewX(-30deg); }
        5% { transform: skewX(30deg); }
        10% { transform: skewX(-30deg); }
        15% { transform: skewX(30deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }
      }
    }
  }
}

//End of Nav

//Start of About

//  About view

.about-outer-container {
  height: 100vh;
  background-color: $dark-grey;
  margin: 20px;

  .github {
    width: 100px;
  }
  
  .linkedin {
    width: 95px;
  }

  .glitch.name,
  .info-about {
    max-width: 750px;
  }

  .glitch.name {
    font-size: 35px;
    padding-bottom: 15px;
  }

  .paras-container {
    p:first-child {
      margin-top: 0;
    }

    .info-about {
      font-size: 20px;
      line-height: 1.75;
      margin-top: 30px;
    }
  }
}

.content-border {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;

  .about-icon {
    color: $pink;
    height: auto;
    position: relative;
    z-index: 10;
  }
}

.glitch {
  color: $dark-grey;
  position: relative;
  margin: 0 auto;
}

@keyframes noise-anim {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);

      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  text-shadow: -1px 0 $dark-purple;
  top: 0;
  color: white;
  // background-color: rgba(20, 20, 20, 0.1);
  overflow: hidden;
  animation: noise-anim 1s linear alternate-reverse;
  width: 100%;
}

@keyframes glitch-animation-1 {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);

      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  text-shadow: 5px 0 $pink;
  top: 0;
  color: white;
  // background-color: rgba(20, 20, 20, 0.1);
  overflow: hidden;
  animation: glitch-animation-1 1s linear alternate-reverse;
  width: 100%;

  clip-path: inset(100% 100% 100%  100%);
}

//End of About

//Start of Skills

.skills-content-outer {
  margin: 0 auto;
  margin-top: 75px;
  width: 90%;
  max-width: 900px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-content-border {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 30px;
}

@mixin svgGlitch($name, $intensity, $fillColor, $background,
$fillHighlight1, $fillHighlight2, $width, $height, $top, $left,
$offsetLeft) {

  $steps: $intensity;

  @at-root {
    @for $i from 1 through 2 {
      @keyframes #{$name}-anim-#{$i} {
        @for $i from 0 through $steps {
          $top: random(100);
          $bottom: random(101 - $top);
          #{percentage($i*(1/$steps))} {
            clip-path: inset(#{$top}% 0 #{$bottom}% 0);
          }
        }
      }
    }
  }

  svg {
    position: absolute;
    top: $top+px;
    left: $left+px;
    fill: $fillColor;
    background: $background;
    width: $width+px;
    height: $height+px;
  }

  svg:nth-child(2) {
    fill: $fillHighlight1;
    left: ($left - $offsetLeft) + px;
    animation: #{$name}-anim-1 0.75s linear alternate-reverse;
    padding-left: 10px;
  }

  svg:nth-child(3) {
    fill: $fillHighlight2;
    left: ($left + $offsetLeft) + px;
    animation: #{$name}-anim-2 0.8s linear alternate-reverse;
    padding-left: 10px;
  }
}

.icon-glitch {
  @include svgGlitch("svgGlitchOne", 100, $pink, $dark-grey, #888, $purple, 100, 100, 0, 0, 3);

  svg {
    top: 0;
  }
}

//End of Skills

//Start of Projects

.project-blurb {
  text-align: center;
  padding: 30px;
  text-shadow: 2px 2px $dark-purple;
  color: white;
  line-height: 1.5;

  a {
    text-decoration: none;
    color: $pink;
  }
}

//TO REMOVE AFTER ALL IMAGES CHANGED TO GLITCH
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.project-img1-container,
.project-img2-container,
.project-img3-container,
.project-img4-container {
  position: relative;
  opacity: 0.5;
}

.project-img2-container,
.project-img3-container,
.project-img4-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.project-img1-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.project-img2-container {
  background-image: url('./screenshots/discover_montreal_home_screenshot.png');
  min-height: 300px;
}

.project-img3-container {
  background-image: url('./screenshots/news_feed_home_screenshot.png');
  min-height: 300px;
}

.project-img4-container {
  background-image: url('./screenshots/redshirts_run_screenshot.png');
  min-height: 500px;
}

.project-img1-glitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./screenshots/rawshot_photogrid_screenshot.png') no-repeat;
  background-color: $blend-color-1;
  background-size: cover;
  background-position: top;
  transform: translate3d(0, 0, 0);
  background-blend-mode: $blend-mode-1;
  background-attachment: fixed;
}

.project-img1-glitch:nth-child(n+2) {
  opacity: 0;
  animation-duration: $time-anim;
  animation-delay: $delay-anim;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.project-img1-glitch:nth-child(2) {
  background-color: $blend-color-2;
  background-blend-mode: $blend-mode-2;
  animation-name: glitch-1;
}

.project-img1-glitch:nth-child(3) {
  background-color: $blend-color-3;
  background-blend-mode: $blend-mode-3;
  animation-name: glitch-2;
}

@keyframes glitch-1 {
  0% {
    opacity: 1;
    transform: translate3d($hoz-shift, 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }

  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }

  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }

  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  21.9% {
    opacity: 1;
    transform: translate3d($hoz-shift, 0, 0);
  }

  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
}

@keyframes glitch-2 {
  0% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }

  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }

  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }

  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }

  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }

  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }

  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }

  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }

  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }

  21.9% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
}


// FadeIn
.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}






// Experimenting

#text-overlay {
  color: red;
  border: 1px solid chartreuse;

  position: relative;
  left: 10px;
  top: 200px;
}

@keyframes text-overlay-noise-anim {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);

      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}

#text-overlay::after {
  content: attr(data-textoverlay);
  position: absolute;
  left: 0px;
  text-shadow: -1px 0 $dark-purple;
  top: 0;
  color: white;
  // background: $dark-grey;
  overflow: hidden;
  animation: text-overlay-noise-anim 5s linear alternate-reverse;
  width: 100%;
}

@keyframes text-overlay-animation-1 {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);

      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}

#text-overlay::before {
  content: attr(data-textoverlay);
  position: absolute;
  left: 0;
  text-shadow: 5px 0 $pink;
  top: 0;
  color: white;
  // background: $dark-grey;
  overflow: hidden;
  animation: text-overlay-animation-1 5s linear alternate-reverse;
  width: 100%;
}